.header {
  padding: 35px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  @media (max-width: 992px) {
    padding: 15px 0;
  }
}
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .menu {
      @media (max-width: 767px) {
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        top: -400%;
        right: 0;
        color: #000;
        padding: 20px;
        transition: all 0.3s ease-in-out;

        .menu__links {
          flex-direction: column;

          .menu__link-button {
            margin: 10px 0 0 0 !important;
          }

          .menu__link {
            margin: 0;
            &:after {
              border-bottom: 2px solid #7e2c26;
            }
          }
        }

        &.open {
          top: 0;
        }
      }

      .menu__links {
        display: flex;
        align-items: center;

        .menu__link {
          display: block;
          color: inherit;
          line-height: 1.5;
          margin: 0 50px 0 0;

          &:after {
            display: block;
            content: "";
            border-bottom: solid 1px #fff;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
          @media (max-width: 945px) {
            margin: 0 25px 0 0;
          }
        }
        
        .menu__link-button {
          width: 163px;
          height: 51px;
          margin: 0 0 0 170px;
          color: #fff;
          &:hover {
            border-bottom: none;
          }
          @media (max-width: 1040px) {
            margin: 0 0 0 50px;
          }
          @media (max-width: 945px) {
            margin: 0 0 0 35px;
          }
        }
      }
    }
  }


